{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

<div class="card-body">
<form>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="bmd-label-floating">    {{ form_label(form.nomJoueur) }}
            </label>
            <input type="text" class="form-control" {{ form_widget(form.nomJoueur) }}

            <div class="form-error">
                {{ form_errors(form.nomJoueur) }}
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="bmd-label-floating">    {{ form_label(form.prenomJoueur) }}
            </label>
            <input type="text" class="form-control" {{ form_widget(form.prenomJoueur) }}
            <div class="form-error">
                {{ form_errors(form.prenomJoueur) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="bmd-label-floating">    {{ form_label(form.adresseMail) }}
            </label>
            <input type="text" class="form-control" {{ form_widget(form.adresseMail) }}
            <div class="form-error">
                {{ form_errors(form.adresseMail) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">




                <label for="joueur_dateNaissance" class="required">Date naissance</label>
                <input onclick="displayDate()" class="form-controller" type="date" id="dateNaissance" name='dateNaissance' required="required">

        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="bmd-label-floating">    {{ form_label(form.ageJoueur) }}
            </label>
            <input type="numero" class="form-control" {{ form_widget(form.ageJoueur) }}

        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="bmd-label-floating">    {{ form_label(form.numero) }}
            </label>
            <input type="numero" class="form-control" {{ form_widget(form.numero) }}
            <div class="form-error">
                {{ form_errors(form.numero) }}
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label class="bmd-label-floating">    {{ form_label(form.position) }}
            </label>
            <select type="text" class="form-control" {{ form_widget(form.position) }}
        </div>
    </div>
    <div class="col-md-3">

    <div class="form-group">
        <label class="bmd-label-floating">    {{ form_label(form.idEquipe) }}
        </label>
        <select type="text" class="form-control" {{ form_widget(form.idEquipe) }}

    </div>
</div>
</div>


<div class="row">
<div class="col-md-3">
    <div class="form-group">
        <label class="bmd-label-floating">    {{ form_label(form.ville) }}
        </label>
        <input onkeyup="récupérer()" id="addresse" type="text" class="form-control" {{ form_widget(form.ville) }}
        <div class="form-error">
            {{ form_errors(form.ville) }}
        </div>
    </div>
</div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="bmd-label-floating">    {{ form_label(form.password) }}
            </label>
            <input type="password" class="form-control" {{ form_widget(form.password) }}
            <div class="form-error">
                {{ form_errors(form.password) }}
            </div>
        </div>
    </div></div>
<div class="col-md-3">


</div>

    {{ form_widget(form) }}
    <button class="btn btn-primary pull-right">{{ button_label|default('Save') }}</button>
</form>

{{ form_end(form) }}
<script>
    function displayDate() {
        var date = document.getElementById("dateNaissance").value;
        var a=new Date();


        var an=date.substr(0,4); // l'année (les quatre premiers caractères de la chaîne à partir de zéro)
        var age=a.getFullYear()-an;

            console.log(age);

        document.getElementById("joueur_ageJoueur").value = age;

    }



    //document.getElementById("publication_localisation").value = data.results[i].properties.PlaceName;




</script>


    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBKXNneTVr8yaKCVD_sCEFj9CNCtcU85V8&libraries=places&callback=initialize"></script>
    <style>#mapcanvas { height: 360px; width: 100%}</style>
    <div id="mapcanvas">

        <script type="text/javascript">
function recuperer() {
    document.map = new google.maps.Map(document.getElementById("mapcanvas"));
    var adresse = document.getElementById("addresse").value;
    console.log(adresse);
    // Nous récupérons le contenu du champ adresse
    if (adresse !== "") { // Si l'adresse n'est pas vide
        var geocoder = new google.maps.Geocoder(); // On instancie le geocoder
        geocoder.geocode({'address': adresse}, function (results, status) {
            lat = results[0].geometry.location.lat(); // On récupère la latitude
            lon = results[0].geometry.location.lng(); // On récupère la longitude

        });
    }
    var latlng = new google.maps.LatLng(35.857908, 10.598997);
    var Options = {
        zoom: 15,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("mapcanvas"), Options);
    //var carMarkerImage = new google.maps.MarkerImage('resources/images/car.png');
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lon),
        map: map,
        draggable: false,
//icon: carMarkerImage,
        title: "",
        autoPan: true

    });
    var infobulle = new google.maps.InfoWindow({
        content: "ddddd"
    });
    google.maps.event.addListener(marker, 'mouseover', function () {
        infobulle.open(map, marker);
    });


    document.goToLocation = function (x, y) {
        alert("goToLocation, x: " + x + ", y:" + y);
        var latLng = new google.maps.LatLng(x, y);
        marker.setPosition(latLng);
        map.setCenter(latLng);
    }
}

        </script>


</div>