{% extends 'template/match.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}
    <h1>Equipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdE</th>
                <td>{{ equipe.idE }}</td>
            </tr>
            <tr>
                <th>NomEquipe</th>
                <td>{{ equipe.nomEquipe }}</td>
            </tr>
            <tr>
                <th>IdCoach</th>
                <td>{{ equipe.idCoach }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('equipe_index') }}">back to list</a>

    <a href="{{ path('equipe_edit', {'idE': equipe.idE}) }}">edit</a>

    {{ include('equipe/_delete_form.html.twig') }}
{% endblock %}
